<td>
    <a href="#" id="approve-sar" data-sar-id="<%= sar['system_access_request_id'] %>">
        <i class="material-icons" style="font-size:35px;color:green;">add_circle</i>
    </a>
</td>
<td>
    <a href="#" id="reject-sar" data-sar-id="<%= sar['system_access_request_id'] %>">
        <i class="material-icons" style="font-size:35px;color:red;">remove_circle</i>
    </a>
</td>
