<div class="row">
    <div class="col s12">
        <%= render partial: 'employees/shared/group', locals: { sar_form: sar_form, label_name: "Email Groups:", group_collection: Group.email }  %>
    </div>
</row>
<div class="row">
    <div class="col s12">
        <%= render partial: 'employees/shared/group', locals: { sar_form: sar_form,
                                                               label_name: "Network Share Security: Security Groups:",
                                                               group_collection: Group.network_security_share }  %>
    </div>
</div>
