<div class="row">
    <h1>Choose One</h1>
    <% SystemAccessRequest::REASONS.each do | reason | %>
        <div class="col s4">
            <%= sar_form.radio_button(:reason, reason) %>
            <%= sar_form.label(:reason, "This is a <span style='text-decoration:underline;'>#{reason}</span> user.".html_safe, value: reason)%>
        </div>
    <% end %>
</div>
