<footer class="page-footer teal lighten-5 grey-text">
    <div class="container">
        <div class="row">
            <div class="col offset-s1 s6">
                <h6 style="vertical-align:top;">
                    <i class="material-icons" style="margin-right:10px;vertical-align:bottom;">business</i>Contact Information
                </h6>
                <address>
                    MD Labs Corporate Headquarters<br>
                    10715 Double R Blvd, Suite 102<br>
                    Reno, NV 89521, USA<br>
                    <a class="grey-text" href="tel:775-391-5221">Phone: +1 (775) 391-5221</a><br>
                    Fax: +1 (775) 737-9133<br>
                </address>
            </div>
            <div class="col offset-s2 s3">
                <h6>Contact IT</h6>
                <a class="grey-text" style="vertical-align:bottom;" href="mailto:it@mdlabs.com">
                    <i class="material-icons" style="margin-right:10px;vertical-align:text-top;">email</i>
                    it@mdlabs.com
                </a>
            </div>
        </div>
    </div>
    <div class="footer-copyright lighten-5 grey-text">
        <div class="container">
        Copyright © <%= Time.current.year %> MD Labs
        <a class="grey-text right" target="_blank" href="https://mdlabs.com">MD Labs</a> <span class="pipe right">|</span>
        <a class="grey-text right" target="_blank" href="https://rxight.com">Rxight Pharmacogentics</a>
        </div>
    </div>
</footer>
