<header>
    <nav class="teal lighten-5">
        <div class="nav-wrapper">
            <div class="container">
                <%= image_tag "mdlabs-logo.png", class: "brand-logo" %>
                <% if employee_signed_in? %>
                    <a href="#" data-activates="mobile-demo" class="button-collapse grey-text"><i class="material-icons">menu</i></a>
                    <%= render partial: "layouts/navigation/nav_links", locals: {
                                        mobile_id: "nav-mobile",
                                        drop_down_class: "dropdown-button",
                                        mobile_classes: "right grey-text hide-on-med-and-down"
                    } %>
                    <%= render partial: "layouts/navigation/nav_links", locals: {
                                        mobile_id: "mobile-demo",
                                        drop_down_class: "mobile-dropdown-button",
                                        mobile_classes: "side-nav"
                    } %>
                <% end %>
            </div>
        </div>
    </nav>
</header>
