<ul id="requests-dropdown-menu" class="dropdown-content">
    <li><%= link_to "Pending Requests", new_employee_path %></li>
    <li><%= link_to "Not Pending Requests", new_employee_path %></li>
</ul>
